{% extends 'base.html' %}
{% block title %}List of teachers
{% endblock %}
{% block content %}
    <div class="row">
        {% for teacher in get_all_teachers %}
            <div class="card" style="width: 25rem; margin-right: 15px">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
                    <p class="card-text"> Specialisation: {{ teacher.specialisation }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
