{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
    <p>Are you sure to delete {{ student.first_name }}{{ student.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
        <a href="{% url 'list-of-students' %}" class="btn btn-default">No</a>
    </form>
{% endblock %}