{% extends 'base.html' %}
{% block title %} All student per teacher
{% endblock %}
{% block content %}
    <table class="table">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Age</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        <td>{{ student.age }}</td>
        </tr>
    {% endfor %}
    </tbody>

    </table>
{% endblock %}