{% extends 'base.html' %}
{% block title %} List of cars {% endblock %}
{% block content %}
{% for car in all_cars %}
    {% if car.relase_age >= 2021 %}
        <p>{{ car.car_name }}</p>
        <p>{{ car.model_name }}</p>
        <p>{{ car.relase_age }}</p>
    {% endif %}
{% endfor %}
    <a href="{% url 'list_of_students' %}" class=" btn btn-primary">Go to students</a>
{% endblock %}









<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cars</title>
</head>
<body>
<h1>List of cars</h1>
{% for car in all_cars %}
    {% if car.relase_age >= 2021 %}
        <p>{{ car.car_name }}</p>
        <p>{{ car.model_name }}</p>
        <p>{{ car.relase_age }}</p>
    {% endif %}
{% endfor %}
</body>
</html>