{% extends 'base.html' %}
{% block title %} Change password {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"> Change password</button>
    </form>
{% endblock %}