{% extends 'base.html' %}
{% block title %} Create a new teacher {% endblock %}

{% block content %}
<div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class=" btn btn-primary">Save</button>
            </form>
        </div>
</div>
{% endblock %}