{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
    <p>Are you sure to delete {{ teacher.first_name }}{{ teacher.last_name }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Yes</button>
        <a href="{% url 'list-of-teachers' %}" class="btn btn-default">No</a>

        {#        <button type="button" onclick=" location.href='{% url 'list-of-teachers' %}'">No</button>#}

    </form>
{% endblock %}