{% extends 'base.html' %}
{% block title %} List of teachers {% endblock %}
{% block content %}
    <form method="get">
        {{ my_filter.form }}
        <button type="submit" class="btn btn-success">Search</button>
    </form>
    <div class="row">
        {% for teacher in all_teachers %}
            <div class="card" style="width: 25rem; margin-right: 15px">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"> {{ teacher.first_name }} {{ teacher.last_name }} </h5>
                    <p class="card-text"> Specialisation: {{ teacher.specialisation }}</p>
                </div>
                <div class="cars-footer">
                    {% if perms.teacher.change_teacher %}
                        <a href="{% url 'update-teacher' teacher.id %}" class="btn btn-primary">Update</a>
                    {% endif %}
                    {% if perms.teacher.delete_teacher %}
                        <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% if perms.teacher.detail_teacher %}
                        <a href="{% url 'detail-teacher' teacher.id %}" class="btn btn-info">More Details</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}